Source: ros-kilted-camera-aravis2
Section: misc
Priority: optional
Maintainer: Raphael Hagmanns <raphael.hagmanns@iosb.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), libaravis-dev, libglib2.0-dev, libglib2.0-dev-bin, ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-camera-aravis2-msgs, ros-kilted-camera-info-manager, ros-kilted-cv-bridge, ros-kilted-diagnostic-msgs, ros-kilted-image-transport, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-camera-aravis2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-camera-aravis2-msgs, ros-kilted-camera-info-manager, ros-kilted-cv-bridge, ros-kilted-diagnostic-msgs, ros-kilted-image-transport, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-ros-workspace
Description: ROS2 camera driver for [GenICam](https://www.emva.org/standards-technology/genicam/)-based GigEVision and USB3Vision cameras.
